#todo , #fin{
    text-align: center;
    font-size: 2vw;
}

table{
    margin: auto;
    text-align: center;
    font-size: 1.5vw;
}

td,th{
    width: 16vw;
    padding-bottom: 2vw;
}

#botones{
    width: 100%;
}

button{
    width: 15vw;
    font-size: 1.3vw;
    position: relative;
    margin: 1vw;
    top: 4vw;
}

.cambio{
    width: 3vw;
    height: 3vw;
    
    display:block;
    margin:auto;
}

#copa{
        display:block;
        margin:auto;
        width: 20%;
        height: 20%;        
}