p{
    text-align: center;
    margin-top: 2vw;
    font-size : 3vw;
}

#foto{
    width: 40vw;
    height: 25vw;
    position: relative;
    left:29vw;
}

#botones{
    display: flex;    
    width: 40vw;
    position: relative;
    left:29vw;
    top:1vw;
}

input{
    background-color: green;
    color: white;
    font-size: 2vw;
    margin:auto;
}