p{
    font-size: 3vw;
    text-align: center;
}

img{
    height: 25vw;
    width: 25vw;
    position: relative;
    left: 11.5vw;
}

#cuerpo{
    display: flex;
    margin: auto;
}

#romano, #numero{
    width: 49vw;
    display: flex;
    flex-direction: column;
}


input{
    width: 16vw;
    
    font-size: 2vw;
    position: relative;
    top: 1vw;
    left: 16.5vw;
    text-align: center;
}

#boton{
    width: 20vw;
    font-size: 2vw;
    position: absolute;
    top: 35.4vw;
    left: 39vw;
    background-color: green;
    color: white;
}

#boton1{
    width: 20vw;
    font-size: 2vw;
    position: absolute;
    top: 39.4vw;
    left: 39vw;
    background-color: green;
    color: white;
}


body{
    background-color: aliceblue;
}

#cuerpo p{
    font-size: 2vw;
}

#titulo{
    font-weight: bold;
}

#resultado{
    width: 30vw;
    position: absolute;

    top: 12vw;
    left: 34vw;
}

#resultado p{
    
    font-size:3vw;
}
