p{
    text-align: center;
    margin-top: 2vw;
    font-size : 4vw;
}

input{
    width: 22vw;
    font-size: 2.5vw;
    position: relative;
    left: 39vw;
}

#frase{
    color: blue;
    padding-top: 2vw;
}
