#cabecera{
    width:100%;
    background-color: aliceblue;
    position: fixed;
    height: 6vw;
    top:0vw;
    z-index: 3;
    border-bottom: 0.4vw solid rgb(177, 177, 44);;
}

#logo{
    width:12vw;
    height: 12vw;
    position: relative;
    left: 15vw;
    top:-3vw;
    cursor: pointer;
}

#enlaces{
    display: flex;
    width: 34vw;
    position: relative;
    left:60vw;
    top:-10vw;

}

.enlace{
    color: gray;
    margin: auto;
    font-size: 1.5vw;
}

.enlace:hover{
    transform: scale(1.1);
    color:rgb(177, 177, 44);
}



#gruas{
    width:100%;
    height: auto;
    position:absolute;
    top:5vw;
    z-index: 0;
}

#container1 p{
    font-size:4vw;
    color:white;
    z-index: 1; 
    width: 60%;
    position: relative;
    top: 10vw;
    left:20%;
    text-align: center;
}

span{
    font-size:4.5vw;
    font-weight: bold; 
}

#container2{
    background-color: aliceblue;
    z-index: 2;
    display: flex;
    width: 100%;
    position: relative;
    top: 28vw;
    height: 18vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
}
#parte1{
    width: 40%;
}

#oficina{
    width:20vw;
    height: 14vw;
    position: relative;
    left: 20vw;
    top:2vw;
}

#parte2{
    width: 60%;
}
 #parte2 p{
     margin-right: 10%;
     margin-left:5vw;
     width: 40vw;
 }

 .titulo{
     margin-top: 2vw;
     text-align: left;
     font-size: 2vw;
     
    color:rgb(177, 177, 44);
 }

 .subtitulo{
     font-size: 1.2vw;
 }

 #container3{
    background-color: rgba(177, 177, 44, 0.74);
    z-index: 2;
    display: flex;
    width: 100%;
    position: relative;
    top: 28vw;
    display: flex;
    flex-direction: column;
    padding-bottom: 2vw;
}



#titServicio, #titProyecto, #titContacto{
    font-size: 3vw;
    text-align: center;
    width:100%;
    text-align: center;
}

#fila{
    width:80vw;
    position: relative;
    left: 9vw;
    display: flex;

}

#fila p{
    text-align: center;
    font-size: 1.5vw;
}

.elemento{
    width: 20vw;
    margin:auto;
    display: flex;
    flex-direction: column;
}

.elemento img{
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    position: relative;
    left: 5vw;
}

.elemento:hover{
    transform: scale(1.2);
}

#container4{
    
    background-color: aliceblue;
    z-index: 2;
    display: flex;
    width: 100%;
    position: relative;
    top: 28vw;
    flex-direction: column;
    padding-bottom: 2vw;

}

.item{
    text-align: center;
    width: 18vw;
    font-size: 1.5vw;
    margin: auto;
}

.item p{
    width: 100%;
    background-color: rgba(177, 177, 44, 0.74);
    position: relative;
    top:1.3vw;
}

#tabla{
    width: 60vw;
    position: relative;
    left:19vw;
    top: -2vw;
    display: grid;
    grid-template-columns: auto auto auto;
}

.item img{
    width: 18vw;
    height: 12vw;
}

.item:hover{
    transform: scale(1.2);
}

 #container5{
    background-color: rgba(177, 177, 44, 0.74);
    z-index: 2;
    display: flex;
    width: 100%;
    position: relative;
    top: 28vw;
    display: flex;
    flex-direction: column;
    padding-bottom: 2vw;
}

#contacto{
    width: 65vw;
    position: relative;
    left:17.5vw;
    display: flex;
}

#mapa{
    width: 35vw;
}

#datos{
    width: 30vw;
    
    display: flex;
    flex-direction: column;
}

iframe{
    width: 100%;
    height: 15vw;
}

.dato{
    position: relative;
    left:1vw;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: auto;
}

.dato p{
    font-size: 1.3vw;
    position: absolute;
    left: 3.5vw;
    top:-0.8vw;
}

.dato img{
    width: 2.4vw;
    height: 2.4vw;
}

.ancla{
    position: absolute;
    bottom: 6vw;
}

#ancla1{
    position: relative;
    top:-6vw;
}