#cabecera{
    width:100%;
    background-color: aliceblue;
    position: fixed;
    height: 6vw;
    top:0vw;
    z-index: 3;
    border-bottom: 0.4vw solid rgb(177, 177, 44);
}

#logo{
    width:12vw;
    height: 12vw;
    position: relative;
    left: 15vw;
    top:-3vw;
    cursor: pointer;
}

#enlaces{
    display: flex;
    width: 34vw;
    position: relative;
    left:60vw;
    top:-10vw;

}

.enlace{
    color: gray;
    margin: auto;
    font-size: 1.5vw;
}

.enlace:hover{
    transform: scale(1.1);
    color:rgb(177, 177, 44);
}



#gruas{
    width:100%;
    height: auto;
    position:absolute;
    top:5vw;
    z-index: 0;
}

#container1 p{
    font-size:4vw;
    color:white;
    z-index: 1; 
    width: 60%;
    position: relative;
    top: 10vw;
    left:20%;
    text-align: center;
}

span{
    font-size:4.5vw;
    font-weight: bold; 
}

#container2{
    background-color: aliceblue;
    z-index: 2;
    display: flex;
    width: 100%;
    position: relative;
    top: 28vw;
    padding-bottom: 2vw;
    flex-direction: column;
}

#subcontainer{
    display: flex;
}

#parte1{
    width: 40%;
}

#oficina{
    width:20vw;
    height: 14vw;
    position: relative;
    left: 20vw;
    top:2vw;
}

#parte2{
    width: 60%;
}
 #parte2 p{
     margin-right: 10%;
     margin-left:5vw;
     width: 40vw;
 }

 .titulo{
     margin-top: 2vw;
     text-align: left;
     font-size: 2vw;
     
    color:rgb(177, 177, 44);
 }

 .subtitulo{
     font-size: 1.2vw;
 }

 #container3{
    background-color: rgba(177, 177, 44, 0.74);
    z-index: 2;
    display: flex;
    width: 100%;
    position: relative;
    top: 28vw;
    display: flex;
    flex-direction: column;
    padding-bottom: 2vw;
}



.tit{
    font-size: 3vw;
    text-align: center;
    width:100%;
}

#fila{
    width:80vw;
    position: relative;
    left: 9vw;
    display: flex;

}

#fila p{
    text-align: center;
    font-size: 1.5vw;
}

.elemento{
    width: 20vw;
    margin:auto;
    display: flex;
    flex-direction: column;
}

.elemento img{
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    position: relative;
    left: 5vw;
}

.elemento:hover{
    transform: scale(1.2);
}

#container4{
    
    background-color: aliceblue;
    z-index: 2;
    display: flex;
    width: 100%;
    position: relative;
    top: 28vw;
    flex-direction: column;
    padding-bottom: 2vw;

}

.item{
    text-align: center;
    width: 18vw;
    font-size: 1.5vw;
    margin: auto;
}

.item p{
    width: 100%;
    background-color: rgba(177, 177, 44, 0.74);
    position: relative;
    top:1.3vw;
}

#tabla{
    width: 60vw;
    position: relative;
    left:19vw;
    top: -2vw;
    display: grid;
    grid-template-columns: auto auto auto;
}

.item img{
    width: 18vw;
    height: 12vw;
}

.item:hover{
    transform: scale(1.2);
}

 #container5{
    background-color: rgba(177, 177, 44, 0.74);
    z-index: 2;
    display: flex;
    width: 100%;
    position: relative;
    top: 28vw;
    display: flex;
    flex-direction: column;
    padding-bottom: 6vw;
}

#contacto{
    width: 65vw;
    position: relative;
    left:17.5vw;
    display: flex;
}

#mapa{
    width: 35vw;
}

#datos{
    width: 30vw;

    height: 20vw;
    
    display: flex;
    flex-direction: column;
}

iframe{
    width: 100%;
    height: 20vw;
}

.dato{
    position: relative;
    left:1vw;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: auto;
}

.dato p{
    font-size: 1.3vw;
    position: absolute;
    left: 3.5vw;
    top:-0.8vw;
}

.dato img{
    width: 2.4vw;
    height: 2.4vw;
    cursor: pointer;
}

.dato p{
    cursor: pointer;
}



.dato p:hover{
    font-weight: bold;
    color: white;
}

.dato img:hover{
    transform: scale(1.4);
}

.ancla{
    position: absolute;
    bottom: 6vw;
}

#ancla1{
    position: relative;
    top:-6vw;
}

#pie{
    background-color: rgb(34, 32, 32);
    padding-top:2vw;
    padding-bottom: 2vw;
    color: white;
    font-size: 1.3vw;
    text-align: center; 
    position: relative;
    top:28vw;
}
@media (max-width:1000px){
    #cabecera{
        height: 8vw;
    }
    
    #logo{
        width:14vw;
        height: 14vw;
    }
    
    #enlaces{
        width: 36vw;
        left:58vw;
        top:-11vw;
    
    }
    
    .enlace{
        font-size: 1.8vw;
    }

    .tit{
        font-size: 3.5vw;
    }

    

    
    #oficina{
        width:25vw;
        height: 18vw;
        position: relative;
        left: 15vw;
        top:2vw;
    }

    #parte2 p{
        width: 50vw;
    }

    .titulo{
        font-size: 3vw;
    }
    .subtitulo{
        font-size: 1.5vw;
    }
    
    #fila{
        width:90vw;
        left: 4.5vw;

    }

    #fila p{
        font-size: 2vw;
    }

    .elemento{
        width: 22.5vw;
    }

    .elemento img{
        width: 15vw;
        height: 15vw;
        left: 3.75vw;
    }
    .item{
        width: 25vw;
        font-size: 2vw;
    }
    
    .item p{
        top:2vw;
    }
    
    #tabla{
        width: 80vw;
        left:9vw;
    }
    
    .item img{
        width: 25vw;
        height: 15vw;
    }

    #contacto{
        width: 80vw;
        left:9vw;
    }

            
    #mapa{
        width: 40vw;
    }

    #datos{
        width: 45vw;

        height: 30vw;
    }

    iframe{
        width: 100%;
        height: 30vw;
    }

    
    .dato p{
        font-size: 2vw;
        top: -1.5vw;
        left: 4vw;
    }

    .dato img{
        width: 3vw;
        height: 3vw;
    }

    #pie{
        font-size: 2vw;
    }.ancla{
        bottom: 6vw;
    }

    #ancla1{
        top:-6vw;
    }
}


@media (max-width:600px){
    #cabecera{
        height: 10vw;
    }
    
    #logo{
        width:16vw;
        height: 16vw;
    }
    
    #enlaces{
        width: 50vw;
        left:44vw;
        top:-13vw;
    
    }
    
    .enlace{
        font-size: 2.5vw;
    }

    .tit{
        font-size: 5vw;
    }

    

    
    #oficina{
        width:34vw;
        height: 25vw;
        left: 6vw;
    }

    #parte2 p{
        width: 55vw;
    }

    .titulo{
        font-size: 3.5vw;
    }
    .subtitulo{
        font-size: 2vw;
    }
    
    #fila{
        width:96vw;
        left: 2vw;
        display: grid;
        grid-template-columns: 2 auto auto;

    }

    #fila p{
        font-size: 3vw;
    }

    .elemento{
        width: 45vw;
        margin-bottom: 4vw;
    }

    .elemento img{
        width: 40vw;
        height: 40vw;
    }
    #tabla{
        grid-template-columns: 45vw 45vw;
        left: 4.5vw;
    }

    .item{
        width: 44vw;
        font-size: 3.5vw;
    }
    
    .item p{
        top:3vw;
    }
    
    #tabla{
        width: 90vw;
        left:4.5vw;
    }
    
    .item img{
        width: 44vw;
        height: 30vw;
    }

    #contacto{
        width: 80vw;
        left:9vw;
        flex-direction:column; 
    }

            
    #mapa{
        width: 80vw;
    }

    #datos{
        width: 68vw;
        position: relative;
        left:6vw;
    }

    iframe{
        width: 100%;
        height: 30vw;
    }

    
    .dato p{
        font-size: 3vw;
        top: -2.5vw;
        left: 6vw;
    }

    .dato img{
        width: 4vw;
        height: 4vw;
    }

    #pie{
        font-size: 3vw;
    } 
    
    .ancla{
        bottom: 8vw;
    }

    #ancla1{
        top:-8vw;
    }
}




