



    div#cabecera{
        
        background-image: url(fotos/fondo.jpg);
        background-repeat: no-repeat;
        height: 29vw;
        background-size: 100% 100%;
       

    }

    a{
        color: aliceblue;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.5vw;
        position: absolute;
        top: 2vw;
    }

    a#portfolio{
        left: 20vw;  
    }

    a#blog{
        left: 27vw;
    }

    a#contacto{
        left: 31.5vw;
    }

    p{
        text-align: center;
    }

    div#subcabecera{

        height: 8vw;
        color: aliceblue;
        vertical-align: middle;
        border: white 0.3vw solid;
        width: 20vw;
        position: relative;
        top: 10.5vw;
        left: 38.5vw;
    }

    p{
        
        font-family: Arial, Helvetica, sans-serif;
        
    }
    p#nombre{
        margin-top:1.5vw;
        font-size: 1.67vw;

        
    }

    p#curso{
        margin-top:0.5vw;
        font-size: 1.16vw;
    }

    img#circular{
        position: absolute;
        top: 24.5vw;
        left:44.5vw;
        width: 9vw;
        height: 9vw;
        border-radius: 50%;
    }

    div#texto{
        width: 38vw;
        position: relative;
        top:4vw;
        left: 30vw;
        color: blue;
        font-size: 1.67vw;

    }

    p#subtitulo{
        font-size: 1vw;
    }

    div#portfolio{
        padding-top: 0.5vw;
        position: relative;
        top:5vw;
        background-color: lightblue;
        
        padding-bottom:1vw;
    }



    p#texto_portfolio{

        font-size: 1.67vw;
        
        
        color: blue;
    }



    img.foto{
        width: 10vw;
        height: 10vw;
    }

    div#cajas{

        align-content: center;
        
        border-spacing: 0.5vw;
       
        
        position: relative;
        
        display: grid;
        left: 26vw;
    }

    div.fila {
        display:table-row;
        
        padding-bottom: -0.5vw;
        
    }

    div.subfila{
        display: table-cell;
        border-right: 1vw transparent
    }

    div.caja1 ,div.caja2 ,div.caja3 ,div.caja4{

        background-color: aliceblue;
        border: black 0.15vw solid;
        width: 10vw;
        height: 8.5vw;
        display:table-cell;
        text-align:center;
        vertical-align: middle;
        color: blue;
    }

    p.titulo{
        font-size: 1.3vw;
    }

    p.subtitulo{
        font-size: 0.8vw;
    }

    div#contacto{

        width: 30vw;
        position: relative;
        top:4.5vw;
        left:34vw;
    }


    p#texto_contacto{
        font-size: 1.67vw;
        
        color: blue;
    }

    div#tabla{
        width:30vw;
        max-width: 30vw;
        align-content: center;
    }

   

    div.elemento{
        position: absolute;
        border-color: blue;
        color: blue;
        max-width: 5vw;
    }

    input:hover , textarea:hover, button:hover{
        transform: scale(1.2);
    }

    input#correo{
        
        width: 8vw;
        height: 0.8vw;
        position: relative;
         left:22vw;
    }

    input#telefono{
        
        width: 8vw;
        height: 0.8vw;
        position: relative;
        left: 11vw;
    }

    input#nombre{
        
        width: 8vw;
        height: 0.8vw;
        position: relative;
        left:0vw;
    }

    input{
        color: blue;
        color-adjust: blue;
        font-size: 0.8vw;
    }

    textarea{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.8vw;
        margin-top: 3vw;
        width:30vw;
        height: 7vw;
        margin-bottom: 1vw;
        
    

    }

   

    ::placeholder{
        color: blue;
    }

    button{
        width: 30.5vw;
        height: 0.5%;
        vertical-align: middle;
        text-align: center;
        
        background-color: blue;
        color: aliceblue;
        padding-bottom: 0.3vw;
    }

    img#mandar{
        height: 1.1vw;
        width: 1.3vw;
        margin-right: 1vw;
    }

    div#pie{
        position: relative;
        top: 6vw;
        padding-top: 1.5vw;
        padding-bottom: 1.5vw;
        background-color: blue;

    }

    p#politica{
        text-align: start;
        margin-left: 34vw;
        color: aliceblue;
        font-size: 1vw;
    }

    div#logos{
        
        position: absolute;
        left: 52vw;

    }


    .logo:hover{
        transform: scale(1.5);
    }



    div#logos , img{
        width: 1.4vw;
        height: 1.4vw;
        top:1.8vw;
    }

    div#logo2{
        position: absolute;
        left: 2.5vw;
    }
    div#logo3{
        position: absolute;
        left: 5vw;
    }
    div#logo4{
        position: absolute;
        left: 7.5vw;
    }
    div#logo5{
        position: absolute;
        left: 10vw;
    }


    @media (max-width: 1000px) {

        a{
            font-size: 2vw;
            
        }
    
        a#portfolio{
            left: 15vw;  
        }
    
        a#blog{
            left: 25vw;
        }
    
        a#contacto{
            left: 31.5vw;
        }
    
        div#subcabecera{

            height: 10vw;
            width: 24vw;
            top: 9.5vw;
            left: 35.5vw;
        }

        p#nombre{
            margin-top:1.5vw;
            font-size: 2vw;
    
            
        }
    
        p#curso{
            margin-top:0.5vw;
            font-size: 1.5vw;
        }
        
        img#circular{
            top: 22.5vw;
            left:42.5vw;
            width: 13vw;
            height: 13vw;
        }
    
        div#texto{
            width: 44vw;
            position: relative;
            top:6vw;
            left: 27vw;
            font-size: 2vw;
            margin-bottom: 3vw;
    
        }
    
        p#subtitulo{
            font-size: 1.5vw;
        }

    
    
        p#texto_portfolio{
    
            
            font-size: 2vw;
            
            color: blue;
        }
    
        
    div#portfolio{
        padding-top: 0.5vw;
        position: relative;
        top:5vw;
        background-color: lightblue;
    }



    p#texto_portfolio{

        
        font-size: 2vw;
        
        color: blue;
    }



    img.foto{
        width: 10vw;
        height: 10vw;
    }

    
    
    
    
        div#contacto{
    
            width: 44vw;
            position: relative;
            top:4.5vw;
            left:27vw;
        }
    
    
        p#texto_contacto{
            font-size: 2vw;
        }
    
        div#tabla{
            width:44vw;
            max-width: 44vw;
            align-content: center;
        }
    
       
    
        input:hover , textarea:hover, button:hover{
            transform: scale(1.1);
        }
    
        input#correo{
            
            width: 13vw;
            height: 1.2vw;
            position: relative;
             left:31vw;
        }
    
        input#telefono{
            
            width: 13vw;
            height: 1.2vw;
            position: relative;
            left: 15vw;
        }
    
        input#nombre{
            
            width: 13vw;
            height: 1.2vw;
            position: relative;
            left:0vw;
        }
    
        input{
            font-size: 1.3vw;
        }
    
        textarea{
            font-size: 1.3vw;
            margin-top: 3vw;
            width:44vw;
            height: 8vw;
            margin-bottom: 1vw;
            
        }
    
    
        button{
            width: 44.5vw;
        }
    
        div#pie{
            top: 7vw;
    
        }
    
        p#politica{
            margin-left: 27vw;
            font-size: 1.7vw;
        }
    
        div#logos{
            
            position: absolute;
            left: 52vw;
    
        }
    
    
        .logo:hover{
            transform: scale(1.5);
        }
    
    
    
        div#logos , img{
            width: 2.5vw;
            height: 2.5vw;
            top:2.5vw;
        }

        div#logo1{
            left:1vw;
        }
    
        div#logo2{
            left: 4.875vw;
        }
        div#logo3{
            left: 8.75vw;
        }
        div#logo4{
            left: 12.625vw;
        }
        div#logo5{
            left: 16.5vw;
        }

    }

    @media (max-width: 700px) {

        
        
        div#subcabecera{

            height: 10vw;
            width: 28vw;
            top: 8.5vw;
            left: 33.5vw;
        }
       

        p#nombre{
            font-size: 2.5vw;
    
            
        }
    
        p#curso{
            font-size: 1.7vw;
        }
        
        img#circular{
            top: 21.5vw;
            left:41.5vw;
            width: 15vw;
            height: 15vw;
        }
    
        div#texto{
            width: 52vw;
            top:7vw;
            left: 23vw;
            font-size: 2.5vw;
            margin-bottom: 6vw;
    
        }
    
        p#subtitulo{
            font-size: 1.9vw;
        }

    
    
        p#texto_portfolio{
    
            
            font-size: 3vw;
        }

        img.foto{
            width: 14vw;
            height: 10vw;
        }
    
    
        div#cajas{

            
            
            left: 18vw;
        }
    
    
        div.caja1 ,div.caja2 ,div.caja3 ,div.caja4{
    
            width: 14vw;
            height: 10vw;
        }
    
        p.titulo{
            font-size: 1.8vw;
        }
    
        p.subtitulo{
            font-size: 1.5vw;
        }
    
        
    
    
        
    
        div#contacto{
    
            width: 60vw;
            left:19vw;
        }
    
    
        p#texto_contacto{
            font-size: 3vw;
        }
    
        div#tabla{
            width:60vw;
            max-width: 60vw;
        }
    
       
    
    
        input#correo{
            
            width: 18vw;
            height: 1.5vw;
             left:42vw;
        }
    
        input#telefono{
            
            width: 18vw;
            height: 1.5vw;
            left: 21vw;
        }
    
        input#nombre{
            
            
            width: 18vw;
            height: 1.5vw;
        }
    
        input{
            font-size: 1.7vw;
        }
    
        textarea{
            font-size: 1.7vw;
            margin-top: 4vw;
            width:60vw;
            height: 8vw;
            margin-bottom: 2vw;
            
        }
    
    
        button{
            width: 61vw;
        }
    
        div#pie{
            top: 7vw;
    
        }
    
        p#politica{
            margin-left: 19vw;
            font-size: 2.2vw;
        }
    
        div#logos{
            
            position: absolute;
            left: 43vw;
    
        }
    
    
    
        div#logos , img{
            width: 4vw;
            height: 4vw;
            top:3vw;
        }

        div#logo1{
            position: relative;
            left:8vw;
        }
    
        div#logo2{
            left: 14vw;
        }
        div#logo3{
            left: 20vw;
        }
        div#logo4{
            left: 26vw;
        }
        div#logo5{
            left: 32vw;
        }

    }

    
    @media (max-width: 500px) {

        
    div#cabecera{
        
        height: 35vw;
       

    }

        
        a{
            font-size: 3vw;
            
        }
    
        a#portfolio{
            left: 11vw;  
        }
    
        a#blog{
            left: 25vw;
        }
    
        a#contacto{
            left: 34vw;
        }

        
        div#subcabecera{

            height: 10vw;
            width: 32vw;
            top: 11.5vw;
            left: 32.5vw;
        }
       

        p#nombre{
            font-size: 3vw;
    
            
        }
    
        p#curso{
            margin-top: -2vw;
            font-size: 2.1vw;
        }
        
        img#circular{
            top: 27.5vw;
            left:42.5vw;
            width: 17vw;
            height: 17vw;
        }
    
        div#texto{
            width: 80vw;
            top:7vw;
            left: 9vw;
            font-size: 4vw;
            margin-bottom: 6vw;
    
        }
    
        p#subtitulo{
            font-size: 2.6vw;
        }

    
    
        p#texto_portfolio{
            
            text-align: center;
            
            font-size: 4.5vw;
            margin-bottom: 2vw;
        }

        img.foto{
            width: 26vw;
            height: 16vw;
        }
    
        div.subfila{
            display: table-row;
        
        }
    
        div#cajas{

            
            
            left: 20vw;
            border-spacing: 2vw;
        }
    
        

        div.caja1 ,div.caja2 ,div.caja3 ,div.caja4{
    
            width: 26vw;
            height: 18vw;
        }

        
    

    
        p.titulo{
            font-size:3vw;
        }
    
        p.subtitulo{
            font-size: 2.5vw;
        }
    
        
    
    
        
    
        div#contacto{
    
            width: 80vw;
            left:9vw;
        }
    
    
      p#texto_contacto{
            font-size: 5vw;
        }
    
        div#tabla{
            width:80vw;
            max-width: 80vw;
        }
    
       
    
    
        input#correo{
            
            width: 24vw;
            height: 2vw;
             left:55.5vw;
        }
    
        input#telefono{
            
            
            width: 24vw;
            height: 2vw;
            left: 28vw;
        }
    
        input#nombre{
            
            
            width: 24vw;
            height: 2vw;
        }
    
        input{
            font-size: 2.2vw;
        }
    
        textarea{
            font-size:2.2vw;
            margin-top: 6vw;
            width:80vw;
            height: 8vw;
            margin-bottom: 2vw;
            
        }
    
    
        button{
            width: 81vw;
        }

        img#mandar{
            width:4vw;
            height:4vw;
        }
    
        div#pie{
            top: 7vw;
    
        }
    
        p#politica{
            margin-left: 9vw;
            font-size: 3vw;
        }
    
        div#logos{
            
            position: absolute;
            left: 0vw;
    
        }
    
    
    
        div#logos , img{
            width: 5vw;
            height: 5vw;
            top:5vw;
        }

        div#logo1{
            left: 50vw;
        }

        
        div#logo1{
            left: 55vw;
        }
    
        div#logo2{
            left: 62vw;
        }
        div#logo3{
            left: 69vw;
        }
        div#logo4{
            left: 76vw;
        }
        div#logo5{
            left: 83vw;
        } 

    }
